<!DOCTYPE html>
<html>

<head>
    <title>Order</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
     <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                socket.emit('connected');
            });

            socket.on('message', function(event) {
                $("#events").append('<li>'+event+'</li>');
                console.log('Received event');
            });


            $('#sendbutton').on('click', function() {
                socket.send($('#myOrder').val());
                $('#myOrder').val('');
            });
        });
     </script>
     <input type="text" id="myOrder">
     <button id="sendbutton">Subscribe</button>
     <ul id="events"></ul>
</body>

</html>